
*.obj
*.dll
msvc/Release/mp.iobj
*.lib
*.ipdb
*.exp
*.pch
*.lastbuildstate
*.pdb
*.tlog
*.log
*.opendb
msvc/.vs/ReGameDLL/v15/.suo
*.db
*.ipch
version/appversion.h
msvc/ReGameDLL.sln
msvc/ReGameDLL.sln
msvc/ReGameDLL.vcxproj
